@media (min-width: 1000px) {
  #wrapper {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3.375rem;
    margin-bottom: 20px;

    h2 {
      text-align: center;
      font-family: 'Rozha One', serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 6px;
      font-size: 48pt;
    }

    #subhead {
      text-align: center;
      font-family: 'Nanum Myeongjo',serif;
      font-weight: 700;
      letter-spacing: .9px;
      font-size: 17px;
      line-height: 30px;
      margin: 30px 0px 20px;
      padding: 0px 224px;
    }
  }

  .scheduleEvent {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 1rem;
    text-align: center;

    .eventLeft {
      float: left;
      text-align: center;
      height: 100%;
      padding-bottom: 100px;

      .eventTitle {
        font-family: 'Rozha One', serif;
        margin: 40px 0px 20px;
        text-transform: uppercase;
        font-size: 34px;
        font-weight: 500;
        letter-spacing: 6px;
      }

      .eventDate {
        font-family: 'Nanum Myeongjo', serif;
        font-weight: 500;
        font-size: 17px;
        letter-spacing: 6px;
      }

      .eventTime {
        font-family: 'Nanum Myeongjo', serif;
        font-weight: 500;
        font-size: 17px;
        letter-spacing: 6px;
        padding-top: 10px;

        #eventGroupTime {
          padding-top: 10px;
          font-size: 15px;
          line-height: .75rem;
        }
      }
    }

    .eventRight {
      float: right;
      text-align: center;
      height: 100%;
      border-left: solid 2px #a4b1b8;

      .eventBody {
        padding-top: 3rem;
      }

      .eventAddress {
        padding-bottom: 1rem;
      }

      .eventButtons {
        .eventLink {
          display: inline-block;
          padding: 0.35em 2.2em;
          border: 0.1em solid #a4b1b8;
          margin: 0 0.3em 0.3em 0;
          border-radius: 0.12em;
          box-sizing: border-box;
          text-decoration: none;
          font-weight: 300;
          color: #a4b1b8;
          text-align: center;
          transition: all 0.2s;
        }

        .eventLink:hover {
          color:#fff;
          background-color:#a4b1b8;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  #wrapper {
    width: 90%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #a4b1b8;

    h2 {
      font-family: 'Rozha One', serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 6px;
      font-size: 24pt;
      text-align: center;
    }

    #subhead {
      text-align: center;
    }
  }

  .scheduleEvent {
    text-align: center;

    .eventLeft {
      .eventTitle {
        font-family: 'Rozha One', serif;
        margin: 40px 0px 2px;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 6px;
      }

      .eventDate {
        font-family: 'Nanum Myeongjo', serif;
        font-weight: 500;
        font-size: 17px;
      }

      .eventTime {
        font-family: 'Nanum Myeongjo', serif;
        font-weight: 500;
        font-size: 17px;
        padding-top: 10px;
      }
    }

    .eventRight {
      .eventBody {
        padding-top: 1rem;
      }

      .eventAddress {
        padding-bottom: 1rem;
      }

      .eventButtons {
        .eventLink {
          display: inline-block;
          padding: 0.35em 2.2em;
          border: 0.1em solid #a4b1b8;
          margin: 0 0.3em 0.3em 0;
          border-radius: 0.12em;
          box-sizing: border-box;
          text-decoration: none;
          font-weight: 300;
          color: #a4b1b8;
          text-align: center;
          transition: all 0.2s;
        }

        .eventLink:hover {
          color:#fff;
          background-color:#a4b1b8;
        }
      }
    }
  }
}
