@media (min-width: 1000px) {
  .split {
    text-align: center;
    position: relative;
    vertical-align: top;
    display: table;
    clear: both;
    margin-bottom: 100px;
    width: 100%;
  }

  .splitLeft {
    float: left;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding: 70px 120px 30px 0px;;
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: .9px;
    font-size: 17px;
    line-height: 30px;
  }


  .splitTitle {
    font-family: 'Rozha One', serif;
    margin: 40px 0px 20px;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 6px;
  }

  .splitDate {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 6px;
  }

  .splitRight {
    padding: 70px 0 30px 120px;
    float: left;
    width: 50%;
    border-left: solid 2px #a4b1b8;
  }

  .splitRight p {
    font-family: 'Nanum Myeongjo',serif;
    font-weight: 700;
    letter-spacing: .9px;
    font-size: 17px;
    line-height: 30px;
  }

  .splitBody {

  }
}

@media (max-width: 1000px) {
  .split {

    .splitTitle {
      font-family: 'Rozha One', serif;
      font-size: 20pt;
      text-align: center;
      margin-bottom: 5px;
    }

    .splitDate {
      font-family: 'Nanum Myeongjo', serif;
      font-size: 10pt;
      font-weight: 700;
      text-align: center;
    }

    .splitBody {
      text-align: justify;
    }
  }
}
